estudos-igor-databricks-datafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "estudos-igor-databricks-datafactory"
		},
		"databriks_datafactory_lake_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'databriks_datafactory_lake'"
		},
		"databriks_datafactory_lake_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0414-171237-llaxk2gx"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/databriks_datafactory_lake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3398232619208935.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('databriks_datafactory_lake_accessToken')]"
					},
					"existingClusterId": "[parameters('databriks_datafactory_lake_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingestao-bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/igor.l.arantes@gmail.com/pipiline-imov-databricks-azure/Notebooks/inbound_to_bronze"
						},
						"linkedServiceName": {
							"referenceName": "databriks_datafactory_lake",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ingestao-silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ingestao-bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/igor.l.arantes@gmail.com/pipiline-imov-databricks-azure/Notebooks/bronze_to_silver"
						},
						"linkedServiceName": {
							"referenceName": "databriks_datafactory_lake",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databriks_datafactory_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipiline-imov-trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "datalake-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2025-04-20T18:59:00Z",
						"endTime": "2025-04-21T18:53:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/datalake-ingestion')]"
			]
		}
	]
}